$main-white:  rgb(237, 237, 237);

body{
  // background-color: #111927 !important;
  background-image: url("https://wallpapercave.com/wp/wp4247401.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $main-white!important;
 
}
.sections-background {
  background-color: #1f2a37b5 !important;
  border: 1px solid #374251 !important;
}
.section-title{
  padding-left: 30px;
  font-size: 40px;
  font-weight: 800 !important;
  margin-bottom:30px;
  color: $main-white;
  
}
section{
  padding: 3rem 0;
}
.section-margin{
  margin: 0 178px !important;
}
.paragraph-text{
  font-size:14px;
  font-weight:200;
  color: rgba(237, 237, 237, 0.9);
  line-height: 30px;
}
.footer-content{
  display:flex;
  justify-content:center;
  a{
    color: $main-white !important;
    &:hover {
      cursor: pointer;
      color: #b9a9ff !important;
    }
  }
}