$main-white:  rgb(237, 237, 237);

body{
  background-image: url("https://wallpapercave.com/wp/wp4247401.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $main-white!important;
}
.sections-background {
  background-color: #1f2a37d0 !important;
  border: 1px solid #374251 !important;
}
.section-title{
  padding-left: 30px;
  font-size: 40px;
  font-weight: 800 !important;
  margin-bottom:30px;
  color: $main-white;
  
}
section{
  padding: 3rem 0;
}
.section-margin{
  margin: 0 178px !important;
}
.paragraph-text{
  font-size:14px;
  font-weight:600 !important;
  color: rgba(255, 255, 255, 0.9);
  line-height: 30px;
}
.footer-content{
  display:flex;
  justify-content:center;
  a{
    color: $main-white !important;
    &:hover {
      cursor: pointer;
      color: #b9a9ff !important;
    }
  }
}

// mobile screen size modifictations
// small screens range
@media screen and (max-width: 320px){
  .section-title{
    padding-left: 15px;
    margin-bottom: 15px;
  }

}
// mobile medium screens range
@media screen and (min-width: 321px ) and (max-width:375px){
  

}

// mobile Larger screens range
@media screen and (max-width:425px){
  body{
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y;
    background-attachment: fixed;
    
  }

}
// tablet size screens range
@media screen and (max-width:768px){
  .section-title{
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 25px;
  }
  .paragraph-text{
    margin-bottom: 8px;
  }
  .retro-logo{
    display:flex;
    justify-content:center;
  
  }
  .break{
    display: visible;
  }
  section{
    padding: 1rem 0;
  }

}

// laptop screen size range
@media screen and (min-width: 769px) and (max-width:1024px){
  
}

