.hero-banner {
    height: 100vh;
    /* background-color: rgba(230, 3, 3, 0.725); */
    display: flex;
    align-items: center;
    justify-content:space-between;
    color: aliceblue;
}
.hero-column-content{
  display: flex !important;
  flex-direction: column !important;
  align-items:center !important;
  justify-content: space-between !important;
  height:400px;
}
.hero-career-text{
  font-size:16px !important;
  font-weight: 500 !important;
}
.Typewriter{
  font-size:20px;
  font-weight: 500;
}

.btn-light {
  color: #fff !important;
  background-color: transparent !important;
  border-color: #f8f9fa;
  &:hover {
    color: #000 !important;
    background-color: #fff !important;
  }
}
.retro-moonoz{
  width: 80%;
}
.hero-content {
  height: 80%;
  h1{
    font-weight: 800;
  }
}

