.hero-banner {
    height: 500px;
    background-color: rgba(230, 3, 3, 0.725);
    display: flex;
    align-items: center;
    justify-content:space-between;
    color: aliceblue;
}
.hero-column-content{
  display: flex !important;
  flex-direction: column !important;
  align-items:center !important;
  justify-content: space-between !important;
}
.hero-career-text{
  font-size:16px !important;
  font-weight: 500 !important;
}
.Typewriter{
  font-size:20px;
  font-weight: 500;
}

  .hero-content h1{
    font-weight: 800;
  }
