#job{
    display: flexbox;
    
    text-align: center !important;

}
.job-title{
    text-decoration-line: underline;
    margin-bottom: 2rem;
}
.job-link{
    color: rgb(0, 0, 0) !important;
    &:hover{
        cursor: pointer;
        color: #064ab0 !important;
    }
}

// mobile screen size
@media screen and (min-width: 600px){

    
}