#job{
    display: flexbox;
    
    text-align: center !important;

}
.job-title{
    text-decoration-line: underline;
    margin-bottom: 2rem;
}
.link-detail{
    color: rgb(255, 255, 255) !important;
    &:hover{
        cursor: pointer;
        color: #b9a9ff !important;
    }
}
.offcanvas-job-location{
    font-weight:300;
    font-size: 12px;
    display: block !important;
}
.btn-close{
    margin-bottom:1rem;

}
.offcanvas{
    background-color: #1f2a37e6 !important;
    border: 1px solid #374251 !important;
}
.button-location{
    display:flex;
    justify-content:end !important;
    margin-top:10px;
}
.offcanvas-body{
    padding-top: 0px !important;
}


// mobile screen size
@media screen and (min-width: 600px){

    
}