.Typewriter{
    display: inline;
    // font-size: 40px !important;
}
.mission-container{
    display: flexbox;
    justify-content: center !important;
    justify-items: center !important;
}
.break{
    display: hidden;
  }